name: Python Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python install -r requirements.txt

    - name: Run tests with pytest
      env:
        # On définit le PYTHONPATH pour que pytest trouve le module 'src'
        PYTHONPATH: ${{ github.workspace }}/api
      run: |
        # On se place dans le dossier api pour correspondre à votre rootdir
        cd api
        python -m pytest src/tests/TestWeatherService.py